.vControl {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-image: url(../images/Vd_icon.svg);
    background-size: 126px 126px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .2s linear;
    @media screen and (max-width: 599px){
        background-size: 50px 50px;
    }
}
.vControl iframe {
    width: 100%;
    height: 100%;
}
.btn-wrap{
    padding: 0 90px;
    @media screen and (max-width: 599px){
        padding: 0 38px;
    }
    &.btn-left{
        text-align: left;
    }
    &.btn-right{
        text-align: right;
    }
}
.btn{
    font-size: 21px;
    padding: 12px 56px 12px 32px;
    background-color: $blue-1;
    color: #fff;
    display: inline-block;
    transition: all .2s linear;
    background-image: url(../images/btn_arrow.svg);
    background-size: 24px 24px;
    background-position: right 9px center;
    background-repeat: no-repeat;
    @media screen and (max-width: 599px){
        font-size: 12px;
        padding: 4px 24px 4px 10px;
        background-position: right 4px center;
        background-size: 16px 16px;
    }
    &:hover{
        background-color: darken($blue-1, 10%);
    }
}


//title
.page-comecloser{
    .title-reset{
        padding: 0;
        font-family: "Noto Sans TC", serif;
        color: $gray-1;
        font-weight: normal;
        line-height: 1.5;
    }
    .title-border{
        font-size: 32px;
        padding: 28px 40px;
        border-top: 1px solid $gray-1;
        border-bottom: 1px solid $gray-1;
        display: inline-block;
        @media screen and (max-width: 599px){
            font-size: 23px;
            padding: 4px 0;
        }
    }
    
    .title-wings{
        position: relative;
        width: auto!important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 21px;
        @media screen and (max-width: 599px){
            font-size: 16px;
        }
        .round-text-tag{
            margin: 0 10px;
            color: #fff;
            @media screen and (max-width: 599px){
                margin: 0 6px;
            }
        }
        &:before{
            content: '';
            display: block;
            width: 65px;
            height: 1px;
            margin-right: 30px;
            background-color: $gray-1;
            @media screen and (max-width: 599px){
                width: 50px;
                margin-right: 14px;
            }
        }
        &:after{
            content: '';
            display: block;
            width: 65px;
            height: 1px;
            margin-left: 30px;
            background-color: $gray-1;
            @media screen and (max-width: 599px){
                width: 50px;
                margin-left: 14px;
            }
        }
    }
    
    .title-patent{
        padding: 0;
        line-height: 1.5;
        font-size: 30px;
        color: $blue-1;
        font-weight: normal;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 599px){
            font-size: 20px;
            margin-bottom: 7px;
        }
        .round-text-tag{
            padding: 2px 12px;
            margin: 0 10px;
            color: #fff;
            font-size: 26px;
            @media screen and (max-width: 599px){
                font-size: 14px;
            }
        }
    }
    .subtitle-patent{
        font-size: 26px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 599px){
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
    
    .title-xl{
        font-size: 32px;
        @media screen and (max-width: 599px){
            font-size: 23px;
        }
    }
    
    .title-lg{
        font-size: 30px;
    }
    
    .title-md{
        font-size: 26px;
    }
}

.main-feature{
    margin-bottom: 68px;
    @media screen and (max-width: 599px){
        margin-bottom: 40px;
    }
}

.feature-slider-wrap{
    margin-bottom: 80px;
    @media screen and (max-width: 599px){
        margin-bottom: 35px;
    }
}

.feature-slider-list{
    display: flex;
    padding: 0 38px;
    @media screen and (max-width: 599px){
        // width: calc(100% - 58px);
        // 11+20
        padding: 0 31px;
    }
    .img-wrap{
        margin-bottom: 40px;
        @media screen and (max-width: 599px){
            margin-bottom: 20px;
        }
    }
    &-title{
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 16px;
        @media screen and (max-width: 599px){
            font-size: 16px;
            margin-bottom: 2px;
        }
    }
    &-content{
        font-size: 19px;
        color: $gray-1;
        @media screen and (max-width: 599px){
            font-size: 12px;
        }
    }
}

.model-slider-wrap{
    margin-bottom: 54px;
    @media screen and (max-width: 599px){
        margin-bottom: 12px;
    }
}

.model-slider-list{
    position: relative;
    &-img{
        width: 100%;
        padding-bottom: 53.9062%;
        background-size: cover;
        @media screen and (max-width: 599px){
            padding-bottom: 60.3864%;
        }
    }
    .owl-dots{
        position: absolute;
        bottom: 22px;
        right: 47px;
        @media screen and (max-width: 599px){
            bottom: 11px;
            right: 11px;
        }
    }
}

.patent-nav-item{
    text-align: left;
    color: $gray-2;
    margin-bottom: 45px;
    cursor: pointer;
    transition: color .2s ease;
    @media screen and (max-width: 599px){
        margin-bottom: 40px;
    }
    h6{
        font-size: 21px;
        font-weight: 300;
        color: inherit;
        @media screen and (max-width: 599px){
            white-space: nowrap;
            font-size: 16px;
        }
    }
    .round-text-tag{
        color: #fff;
        font-size: 19px;
        margin-bottom: 14px;
        display: inline-block;
        background-color: $gray-2;
        @media screen and (max-width: 599px){
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
    &.active{
        color: $blue-1;
        .round-text-tag{
            background-color: $blue-1;
        }
        &:hover{
            color: $blue-1;
            .round-text-tag{
                background-color: $blue-1;
            }
        }
    }
    &:hover{
        color: $blue-2;
        .round-text-tag{
            background-color: $blue-2;
        }
    }
}

.icon-thumb{
    width: 26px;
    height: 26px;
    display: inline-block;
    background-image: url(../images/thumb.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
    @media screen and (max-width: 599px){
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
}