// container
.container{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

// font weight
.fw-light{
    font-weight: 300!important;
}
.fw-normal{
    font-weight: 400!important;
}
.fw-medium{
    font-weight: 500!important;
}
.fw-bold{
    font-weight: 700!important;
}

// text color
.text-blue{
    color: $blue-1!important;
}

//text setting
.text-vertical{
    writing-mode: vertical-rl;
}
.round-text-tag{
    border-radius: 8px;
    padding: 2px 8px;
}

//block color
.bg-blue{
    background-color: $blue-1!important;
}

//flex
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.align-items-fstart{
    align-items: flex-start;
}
div[data-aos="typing-vertical"]{
    .typing-vertical{
        white-space: nowrap;
        overflow: hidden;
        border-bottom: 0px solid;
        text-align: left;
        height: 0;
    }
    &.aos-animate{
        .typing-vertical{
            border-bottom: 3px solid;
            border-color: transparent;
            @media screen and (max-width: 599px){
                border-bottom: 1px solid;
                border-color: transparent;
            }
            &.length-4{
                animation: typing-vertical-4 1.5s steps(4) forwards, blink .3s step-end 4 alternate;
            }
            &.length-8{
                animation: typing-vertical-8 1.5s steps(8) forwards, blink .3s step-end 4 alternate;
                animation-delay: 1.5s;
            }
            &.length-7{
                animation: typing-vertical-7 1.5s steps(7) forwards, blink .5s step-end infinite alternate;
                animation-delay: 3s;
            } 
        }
    }
}

.text-wrap[data-aos="typing-horizontal"]{
    transform:translate3d(-100px,0,0);
    opacity:0;
    transition-property:opacity,transform;
    &.aos-animate{
        opacity:1;
        transform:translateZ(0);
    }
    @media screen and (min-width: 599px){
        .typing-horizontal{
            white-space: nowrap;
            overflow: hidden;
            border-right: 0px solid;
            text-align: left;
            width: 0;
        }
        &.aos-animate{
            .typing-horizontal{
                border-right: 3px solid;
                border-color: transparent;
                &.text-l1{
                    animation: typing-horizontal-11 1.5s steps(11) forwards, blink .3s step-end 4 alternate;
                }
                &.text-l2{
                    animation: typing-horizontal-20 1.5s steps(20) forwards, blink .3s step-end 4 alternate;
                    animation-delay: 1.5s;
                }
                &.text-l3{
                    animation: typing-horizontal-13 1.5s steps(13) forwards, blink .5s step-end infinite alternate;
                    animation-delay: 3s;
                }
            }
        }
    }
}

.text-wrap-mobile[data-aos="typing-horizontal"]{
    transform:translate3d(-100px,0,0);
    opacity:0;
    transition-property:opacity,transform;
    z-index: 5;
    position: relative;
    &.aos-animate{
        opacity:1;
        transform:translateZ(0);
    }
    .typing-horizontal{
        white-space: nowrap;
        overflow: hidden;
        border-right: 0px solid;
        text-align: left;
        width: 0;
    }
    &.aos-animate{
        .typing-horizontal{
            border-right: 1px solid;
            border-color: transparent;
            &.text-l1{
                animation: typing-horizontal-11 1.5s steps(11) forwards, blink .3s step-end 4 alternate;
            }
            &.text-l2{
                animation: typing-horizontal-12 1.5s steps(12) forwards, blink .3s step-end 4 alternate;
                animation-delay: 1.5s;
            }
            &.text-l3{
                animation: typing-horizontal-12 1.5s steps(12) forwards, blink .3s step-end 4 alternate;
                animation-delay: 3s;
            }
            &.text-l4{
                animation: typing-horizontal-9 1.5s steps(9) forwards, blink .3s step-end infinite alternate;
                animation-delay: 4.5s;
            }
        }
    }
}

@keyframes typing-vertical-4 {
    from {
      height: 0;
    }
    100%{
        height: 6em;
    }
}
@keyframes typing-vertical-7 {
    from {
      height: 0;
    }
    100%{
        height: 10.5em;
    }
}
@keyframes typing-vertical-8 {
    from {
      height: 0;
    }
    100%{
        height: 12em;
    }
}
@keyframes typing-horizontal-9 {
    from {
        width: 0;
    }
    100%{
        width: calc(9em + 3px);
    }
}
@keyframes typing-horizontal-11 {
    from {
        width: 0;
    }
    100%{
        width: calc(11em + 3px);
    }
}
@keyframes typing-horizontal-12 {
    from {
        width: 0;
    }
    100%{
        width: calc(12em + 3px);
    }
}

@keyframes typing-horizontal-13 {
    from {
        width: 0;
    }
    100%{
        width: calc(13em + 3px);
    }
}
@keyframes typing-horizontal-20 {
    from {
        width: 0;
    }
    100%{
        width: calc(20em + 3px);
    }
}

      
  @keyframes blink {
    50% {
      border-color: $blue-1;
    }
}